---
import Link from "./UI/Link.astro"
import Text from "./UI/Text.astro"
import Title from "./UI/Title.astro"
---

<section class='py-24 space-y-4' id='about'>
  <Title title='About me' />
  <Text size='md:text-lg'>
    I'm a frontend developer, javascript enthusiast and content developer. I currently
    <Link href='#work' cls='underline'>work</Link> as self-employed professional who creates
    apps.
  </Text>
  <Text size='md:text-lg'>
    I create educational content for developers, teaching them about web development,
    JavaScript, TypeScript, React, Next.js, and more. This comes in the form of a video.
    You can watch it on <Link
      href='https://www.youtube.com/@liceDev'
      cls='underline'
      target='_blank'
      rel='noopener noreferrer'>my youtube channel</Link
    >.
  </Text>
  <Text size='md:text-lg'> Outside of technology, I like to take a leisurely walk. </Text>
</section>
