<nav class='h-14 backdrop-blur-md p-4 sticky top-0 flex items-center justify-between'>
  <a href='/' class='text-2xl font-bold text-zinc-100'>S</a>
  <ul>
    <a href='/blog' class='text-zinc-100 hover:text-zinc-200'>Blog</a>
  </ul>
</nav>
