---
import Text from "./UI/Text.astro"
import Title from "./UI/Title.astro"
---

<section class='py-24 space-y-4' id='work'>
  <Title title='Work' />
  <div class='flex justify-between items-center'>
    <div>
      <Text color='text-zinc-100' size='md:text-lg'> Youtube Channel </Text>
      <Text> Content Develeoper </Text>
    </div>
    <small class='text-zinc-400 text-base md:text-lg basis-3/5 md:basis-1/2 text-end'>
      06/2022 - Present
    </small>
  </div>
  <div class='flex justify-between items-center'>
    <div>
      <Text color='text-zinc-100' size='md:text-lg'>
        STIMIK Sepuluh Nopember Jayapura
      </Text>
      <Text> Instructor </Text>
    </div>
    <small class='text-zinc-400 text-base md:text-lg basis-4/5 md:basis-1/2 text-end'>
      07/2018 - 12/2019
    </small>
  </div>
</section>
