---
import { AstroSeo } from "@astrolib/seo"
import { ViewTransitions } from "astro:transitions"
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <AstroSeo
      title='Muhammad Sholehudin'
      description='My Porto is a portfolio and blog about programming. I write about my experiences, my thoughts, and my ideas.'
      canonical='https://muhsholehudin.pages.dev'
      openGraph={{
        title: "Muhammad Sholehudin",
        description:
          "My Porto is a portfolio and blog about programming. I write about my experiences, my thoughts, and my ideas.",
        url: "https://muhsholehudin.pages.dev",
      }}
    />
    <ViewTransitions />
  </head>
  <body class='bg-zinc-950'>
    <Navbar />
    <main
      class='grid grid-rows-[1fr_auto] h-[calc(100svh_-_56px)] max-w-4xl w-full mx-auto px-4'
    >
      <slot />
      <Footer />
    </main>
  </body>
</html>
