---
import { AstroSeo } from "@astrolib/seo"
import { ClientRouter } from "astro:transitions"
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <AstroSeo
      title='Muhammad Sholehudin'
      description='My Porto is a portfolio and blog about programming. I write about my experiences, my thoughts, and my ideas.'
      canonical='https://muhsholehudin.pages.dev'
      openGraph={{
        title: "Muhammad Sholehudin",
        description:
          "My Porto is a portfolio and blog about programming. I write about my experiences, my thoughts, and my ideas.",
        url: "https://muhsholehudin.pages.dev",
        images: [
          {
            url: "https://muhsholehudin.pages.dev/logo.svg",
            width: 512,
            height: 512,
            alt: "Muhammad Sholehudin",
            type: "image/svg+xml",
          },
        ],
      }}
    />
    <ClientRouter />
  </head>
  <body class='bg-zinc-950'>
    <Navbar />
    <main
      class:list={[
        "grid grid-rows-[1fr_auto] h-[calc(100svh_-_3.5rem)] mt-14 w-full mx-auto px-6 lg:px-0",
        Astro.slots.has("blog") ? "max-w-2xl" : "max-w-4xl",
      ]}
    >
      {Astro.slots.has("blog") ? <slot name='blog' /> : <slot />}
      <Footer />
    </main>
  </body>
</html>
