---
import { ViewTransitions } from "astro:transitions"
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Muhammad Sholehudin</title>
    <ViewTransitions />
  </head>
  <body class='bg-zinc-950'>
    <Navbar />
    <main
      class='grid grid-rows-[1fr_auto] h-[calc(100svh_-_56px)] max-w-4xl w-full mx-auto px-4'
    >
      <slot />
      <Footer />
    </main>
  </body>
</html>
